<div class="flex flex-col items-center">
  <img class="w-28" src="/public/logo.svg" alt="">
  <h1 class="text-[#212121] text-4xl font-mynerve">IMAGE<span class="text-[#1a73e8]">PHOBIA</span></h1>
</div>